.header-container {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #dedede;
}

.header-title {
  font-size: 1.5em;
  color: #dd1e25;
}

.bold {
  font-weight: bold;
}

.header-subtitle {
  font-size: 1.2em;
}

.header-actions {
  position: relative;
}

.user-info {
  cursor: pointer;
}

.dropdown-menu {
  display: none; /* Ensure it is hidden by default */
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  min-width: 150px;
}

.dropdown-menu.show {
  display: block; /* Only show when 'show' class is added */
}

.dropdown-item {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.dropdown-item:hover {
  background-color: #f4f4f4;
}
