
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
}

.content-container {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 250px;
  background-color: #0F172A;
  border-right: 1px solid var(--border-color);
  padding: 20px;
}
.main-content {
  flex: 1;
  padding: 20px;
  background-color: var(--background-color);
  overflow-y: auto;
}

/* Example styles for header and footer */
header {
  background-color: var(--card-background-color);
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
}

footer {
  background-color: var(--card-background-color);
  padding: 10px;
  border-top: 1px solid var(--border-color);
  text-align: center;
}

/* Custom styling for buttons, inputs, etc., if needed */
